.wrapper {
  height: var(--cover-height);
  position: relative;
  & img {
    height: 100%;
    width: 100%;
  }
}

.contentWrapper {
  background-color: #dfe9f4;
  position: absolute;
  padding: 3rem 4rem;
  right: 60px;
  top: 50%;
  width: 650px;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: flex-start;
  gap: 3rem;
  transform: translateY(-50%);

  & .categoryContainer {
    font-weight: 600;
    font-size: 1.6rem;
    text-shadow: 3px 2px rgb(17 16 16 / 20%);
  }

  & .descriptionContainer {
    font-size: 1.8rem;
  }
}

.titleWrapper {
  & .titleContainer {
    display: block;
    font-size: 5.2rem;
    font-weight: 800;
    color: var(--brand-identity-color);
  }
}
