.wrapper {
  height: var(--header-height);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}