.wrapper {
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopNameContainer {
  color: var(--brand-identity-color);
  font-size: 3.4rem;
  font-weight: bold;
}

.navigateWrapper {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--nav-text-color);
  gap: 5rem;
}

.menuIconContainer img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.menuModalWrapper {
  position: relative;
}

.menuModalWrapper {
  display: none;
}
@media (max-width: 1200px) {
  .navigateWrapper {
    display: none;
  }

  .menuModalWrapper {
    display: block;
  }
}
