:root {
  --header-height: 122px;
  --cover-height: 749px;

  --brand-identity-color: #054C73;
  --text-primary-color: #333333;
  --text-secondary-color: #67676a;
  --dark-blue-color: #03344f;
  --light-blue-color: #f2f5ff;
  --background-color: #fcfcfc;
}

.flexWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumnWrapper {
  flex-direction: column;
}

.blueWrapper {
  background-color: var(--light-blue-color);
}

.darkBlueWrapper {
  background-color: var(--dark-blue-color);
}

.greyWrapper {
  background-color: var(--background-color);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #D7D6D6;
}


html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}