:root {
  --header-height: 122px;
  --cover-height: 749px;

  --dark-blue-color: #03344F;
  --light-blue-color: #F2F5FF;
  --background-color: #fcfcfc;
}

.blueWrapper {
  background-color: var(--light-blue-color);
}

.greyWrapper {
  background-color: var(--background-color);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}